metricbeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: true
  reload.period: 60s
setup.template.settings:
  index.number_of_shards: 1
  index.codec: best_compression
processors:
  - add_host_metadata: ~
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_kubernetes_metadata: ~
output.redis:
  hosts: ["{{ beats_redis_host }}"]
  password: "{{ beats_redis_password }}"
  index: "beats"
  key: "beats"
  db: 0
  timeout: 5
  datatype: "list"
